<flexrow class="alias-row">
  <input name="alias" type="text" value="{{alias}}"></input>
  <button type="button" data-action="clearAlias">
    <i class="fa-solid fa-masks-theater"></i>
    {{localize "CHATEDIT.EDITS.Clear"}}
  </button>
</flexrow>