<textarea name="content" autocomplete="off">{{content}}</textarea>
<br>
<div class="actions">
  <button type="submit">
    <i class="fa-solid fa-save"></i>
    {{localize "Save"}}
  </button>
  <button type="button" data-action="close">
    <i class="fa-solid fa-xmark"></i>
    {{localize "Cancel"}}
  </button>
</div>