<div class="standard-form chatedit edit-form-v2 scrollable">
  <h5>{{localize "CHATEDIT.EDITS.Speaker"}}</h5>
  <select name="speaker">{{selectOptions speakers localize=true}}</select>
  <h5>{{localize "CHATEDIT.EDITS.Alias"}}</h5>
  {{> 'modules/chatedit/templates/alias.hbs'}}
  <h5>{{localize "CHATEDIT.EDITS.Edited"}}</h5>
  {{> 'modules/chatedit/templates/bottom.hbs'}}
</div>