span.chatedited {
  color: var(--color-text-dark-5);
}

p.last-para {
  margin-bottom: 0em;
}

p.first-para {
  margin-top: 0em;
}

.chatedit.edit-form {
  max-height: 830px;
  display: flex;
  flex-direction: column;
}

.chatedit.edit-form h3,
.chatedit.edit-form blockquote,
.chatedit.edit-form .actions { 
  flex: 0 0 auto;
}

.chatedit.edit-form {

  textarea { 
    flex: 1 1 auto;
    resize: none;
  }

  .actions {
    display: flex;
    flex-direction: row;
  }
}


.chatedit.edit-form-v2 {

  max-height: 830px;

  textarea {
    flex: 1 1 auto;
    height: 620px;
    resize: none;
  }

  .actions {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 5px;
    flex: 1 0;
  }
}