p.last-para {
  margin-bottom: .0em;
}

p.chatedited {
	font-size: xx-small;
	font-style: italic;
  height: 1px;
  line-height: .2em;
  margin-left: .1em;
  margin-bottom: .2em;
  display: flex;
  /*flex: 1;*/
}

/*.chatedit.edited {
  font-family: var(--font-primary);
  font-size: xx-small;
  font-style: italic;
}*/

.chatedit.edit-form {
  display: flex;
  flex-direction: column;
}

.chatedit.edit-form h3,
.chatedit.edit-form blockquote,
.chatedit.edit-form .actions { flex: 0 0 auto; }

.chatedit.edit-form textarea { 
  flex: 1 0;
  min-height: 400px;
}

.chatedit.edit-form .actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.form-group[data-setting-id="chatedit.default-prefix"] input[type="text"] { flex: 0.25; }

.chatedit input[type="color"] { flex: 0.25; }

.chatedit.color-settings:has(input[name="colorize"]:not(:checked)) .disabled-unless-colorize,
.chatedit.color-settings:has(input[name="ic-enable"]:not(:checked)) .disabled-unless-ic-enable,
.chatedit.color-settings:has(input[name="emote-enable"]:not(:checked)) .disabled-unless-emote-enable,
.chatedit.color-settings:has(input[name="roll-enable"]:not(:checked)) .disabled-unless-roll-enable,
.chatedit.color-settings:has(input[name="other-enable"]:not(:checked)) .disabled-unless-other-enable { opacity: 0.25; }

.chat-message .message-content code {
  color: var(--color-text-light-0);
  text-shadow: none;
}